# Sensitive
.sfdx/
temp/*
!temp/.gitkeep
logs/*
!logs/.gitkeep
*.log

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.idea/
*.iml
.vscode/
*.sublime-*

# Credentials & Environment
.env
.env.local
.env.*.local
certs/
*.pem
*.key
*.p12

# Node (if any JS tooling is added later)
node_modules/

# Salesforce
.sf/
.sfdx/
